/bin/Debug/2222.ico
/bin/Debug/Log/humi.txt
/bin/Debug/Log/pir.txt
/bin/Debug/Log/temp.txt
/bin/Debug/conf.xml
/bin/Debug/iconsampe.psd
/bin/Debug/kiosk.application
/bin/Debug/kiosk.exe
/bin/Debug/kiosk.exe.manifest
/bin/Debug/kiosk.pdb
/bin/Debug/kiosk.vshost.application
/bin/Debug/kiosk.vshost.exe
/bin/Debug/screen.jpg
/bin/Debug/selab.ico
/bin/Release/Error/2009111_errorLog.txt
/bin/Release/Log/20091029_HUMI.txt
/bin/Release/Log/20091029_PIR.txt
/bin/Release/Log/20091029_TEMP.txt
/bin/Release/Log/2009111_HUMI.txt
/bin/Release/Log/2009111_PIR.txt
/bin/Release/Log/2009111_TEMP.txt
/bin/Release/conf.xml
/bin/Release/kiosk.XML
/bin/Release/kiosk.application
/bin/Release/kiosk.exe
/bin/Release/kiosk.exe.manifest
/bin/Release/kiosk.pdb
/bin/Release/kiosk.vshost.application
/bin/Release/kiosk.vshost.exe
/bin/Release/screen.jpg
/obj/Debug/Keyosk.Kiosk.resources
/obj/Debug/Keyosk.csproj.FileListAbsolute.txt
/obj/Debug/Keyosk.csproj.GenerateResource.Cache
/obj/Debug/Kiosk.Properties.Resources.resources
/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/obj/Debug/kiosk.application
/obj/Debug/kiosk.csproj.FileListAbsolute.txt
/obj/Debug/kiosk.csproj.GenerateResource.Cache
/obj/Debug/kiosk.exe
/obj/Debug/kiosk.exe.manifest
/obj/Debug/kiosk.pdb
/obj/Release/Kiosk.Kiosk.resources
/obj/Release/Kiosk.Properties.Resources.resources
/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/obj/Release/kiosk.application
/obj/Release/kiosk.csproj.FileListAbsolute.txt
/obj/Release/kiosk.csproj.GenerateResource.Cache
/obj/Release/kiosk.exe
/obj/Release/kiosk.exe.manifest
/obj/Release/kiosk.pdb
